<style>
html,body{
background-color:Silver;
}
.module div {
padding: 5px;
font-weight: bold;
border-bottom: 1px solid #eee;
line-height: 23px;
}
.module div a {
font-weight: bold;
}
#header{
clear:both;
background-color:#98AC5E;
color:White;
text-align:center;
}
#navigation{
width:900px;
height:auto;
background-color:#98AC5E;
text-align:middle;
}

#navigation ul{
list-style:none;
}
#navigation ul li{
float:left;
margin-right:15px;
}
#navigation ul li a{
color:White;
font-weight:bold;
text-decoration:underline;
}
#navigation ul li a:hover{
color:#616161;
background-color:White;
text-decoration:none;
}


#footer{
clear:both;
background-color:#98AC5E;
color:White;
text-align:center;
}
</style>

<ul>
<li><a href="/catalog/">Home</a></li>
<li><a href="/catalog/">About</a></li>
<li><a href="/catalog/">Privacy</a></li>
<li><a href="/catalog/">Products</a></li>
<li><a href="/catalog/">Contact</a></li>
</ul>
<div class="cb"></div>