<style>
html,body{
background-color:Silver;
}
.module div {
padding: 5px;
font-weight: bold;
border-bottom: 1px solid #eee;
line-height: 23px;
}
.module div a {
font-weight: bold;
}
#container {
margin: 0 auto;
width: 70%;
text-align: left;
}
#header{
clear:both;
background-color:#98AC5E;
color:White;
text-align:center;
}
#footer{
clear:both;
background-color:#98AC5E;
color:White;
text-align:center;
}
</style>

<div id="header">
<div class="footerIEPadder">
{% include "navigation.html" %}
[footer here]
</div>
</div>
hello
{{object_list}}
{% for obj in object_list %}
<img src="/static/spark.jpg" alt="Picture of carango" /> <!-- New line -->
<img src="spark.jpg" alt="Picture of carango" /> <!-- New line -->
<img src="/spark.jpg" alt="Picture of carango" />
{{obj.title}}<br />
{{obj.image}}
{% endfor %}
<div id="footer">
<div class="footerIEPadder">
{% include "navigation.html" %}
[footer here]
</div>
</div>