<style>
html,body{
background-color:Silver;
}
.module div {
padding: 5px;
font-weight: bold;
border-bottom: 1px solid #eee;
line-height: 23px;
}
.module div a {
font-weight: bold;
}
#header{
clear:both;
background-color:#98AC5E;
color:White;
text-align:center;
}
#footer{
clear:both;
background-color:#98AC5E;
color:White;
text-align:center;
}
</style>
<ul>
<li><a href="/catalog/">Home</a></li>
<li><a href="/catalog/">About</a></li>
<li><a href="/catalog/">Privacy</a></li>
<li><a href="/products/">Products</a></li>
<li><a href="/catalog/">Contact</a></li>
{% load static %}
<img src="{% static "ecom/spark.jpg" %}" alt="My image"/>
</ul>
<div class="cb"></div>